
.logincontainer{
    justify-content: center;
    background-color: rgb(207, 169, 169);
    width: 400px;
    height: 460px;
    margin-top: 3%;
    margin-left: 38%;
    margin-bottom: 7%;
    /* padding-bottom: 20px; */
    border-radius: 20px;
  }
  .loginForm{
  padding-top: 20px;
  }
  
  .loginForm h2{
  margin-left: 100px;
  width: 170px;
  border-bottom: 1px solid blue;
  }
  .loginForm label {
  
    font-size: 26px;
  margin-top: 20px;
    padding-left: 70px;
    line-height: 50px;
  }
  .loginForm input{
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 300px;
    margin-left: 40px;
    font-size: 20px;
  }
  .loginForm button{
    width: 180px;
    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
  }
  .loginForm button:hover{
    /* background-color: rgb(141, 192, 207); */
    border: 1px solid rgb(94, 66, 196);
    color: rgb(25, 170, 102);
  }
  .err-msg{
    font-size: 17px;
    width: 100%;
    color: blue;
    padding-left: 60px;
  }