body{
  background: #bdc3c7;  /* fallback for old browsers */
 
}

.form{
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  height: 540px;
}
.form__label{
  font-size: 25px;
}
.form-body input{
  font-size: 25px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(110, 106, 106);
  outline: none;

}
.my-5{
  margin-left: 24%;
} 
.container label{
  font-size: 30px;
}
.container form{
  margin-left: 30px;
}
.mb-3{
  line-height: 2;
}
.mb-3 input{
  font-size: 23px;
  outline: none;
  border-radius: 7px;
  width: 250px;

}
.col-12 button{
  margin-top: 60px;
  margin-left: 30%;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: rgb(131, 224, 224);
}
.col-12 button:hover{
  background-color: aquamarine;
  border-radius: 10px;
  
}