@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #d69b9b;
  
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;

  /* gap: 20px; */
}




.achievements .work {
  display: flex;
  cursor: pointer;
  width: 330px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
 box-shadow: 2px 3px 9px 5px rgb(53, 28, 28);
 border-radius: 10px;
 /* gap: 20px; */
}
.achievements .work img{
  border-radius: 20px;
  /* padding-top: 10px; */
}

/* .achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
  
} */

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.achievements .work:hover{
  border: 2px solid rgb(61, 61, 61);
}
.about-me {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}


/* .regiterForm */



.success{

  justify-content: center;
  background-color: rgb(207, 169, 169);
  width: 700px;
  height: 300px;
  margin-top: 10%;
  padding-top: 90px;
  padding-left: 60px;
  margin-left: 25%;
  border-radius: 20px;
}

.taj{
  width:100%;
  height: fit-content;
  overflow-x: scroll;
}
.taj .content{
width: 900px;
box-shadow: 1px 2px 7px 2px white;
margin-left: 14%;
}
.taj img{
  /* position: relative; */
  width: 100%;
  
  height: 300px;
/* margin-left: 190px; */
margin-top: 50px;
}
.taj .thead{
  font-size: 40px;
margin-left: 39%;
width: 180px;
border-bottom:2px solid blue ;
}
.taj .text{
  margin-top: 20px;
  margin-left: 10%;
  width: 800px;
  text-indent: 50px;
}

.charminar-text{
  text-indent: 50px;
 width: 700px;
}
.MinarContent{
  box-shadow: 1px 2px 7px 2px white;
  padding-top: 20px;
  width: 800px;
  margin-left: 22%;
  padding-left: 30px;
}
.MinarContent img{
  width: 97%;
  
  height: 300px;
/* margin-left: 190px; */
margin-top: 40px;
margin-bottom: 30px;
}
.redfort{
width: 800px;
box-shadow: 1px 2px 7px 2px white;
margin-left: 22%;
}
.redfort img{
  width: 800px;
  height: 200px;
}
.redfort h2{
  padding-top: 30px;
  margin-left: 39%;
  border-bottom: 1px solid #0f27ac;
  width: 130px;
}
.rcontent{
  padding-left: 30px;
  padding-top: 20px;
  text-indent: 40px;
}
.redfortContent{
  width: 750px;
 
}

/* ----------------------footer-------------- */

.footer{
  /* background:black; */
  color: white;
  height: 400px; 
  position: relative; 
 }
 .footer-bottom{
   background:#343a40;
   color: #686868;
   height: 50px;
   width: 100%;
   text-align: center;
   position: relative;
   /* bottom: 0px; */
   top: 425%;
   /* left: 0px; */
   padding-top: 20px;

 }
 .footer .footer-content{
  border: 1px solid red;
  height: 400px;
  display: flex;
  justify-content: center;

 }
.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  /*border:1px solid white;*/
}
.footer .footer-content h1,
.footer .footer-content h2{
  color: white;
  font-size: 25px; 
   
}
.footer .footer-content .about h1 span{
  color: #05f7ff;
  
}

.footer .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px; 
}
.footer .footer-content .about .socials a{
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
   transition: all .3s;
}
/* .footer .footer-content .about .socials a{
  border: 1px solid white;
  color: white;
  transition: all .3s;
} */

.footer .footer-content .links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;

}
.footer .footer-content .links ul a:hover{
  color: white;
  margin-left: 15px;
  transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
  /* background-color: #272727; */
  color: white;
  margin-bottom: 10px;
  line-height: 1/5em;
  padding: .9rem 1.4rem;
  border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
  /* background:#1a1a1a; */
}
.btn-big{
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}
.footer .footer-content .contact-form .contact-btn{
  float: right;
  position: absolute;
  top: 60%;
  color: #327c66;
  border: 1px solid #05f7ff;;
  right: 15%;
}

.listdata{
  border: 1px solid black;
  width: 350px;
  height: auto;
  margin-left: 40%;

}